.alien-logo {
  width: 50px;
  align-content: center;
}
.alien-header-icon {
  width: 30px;
}
.button{
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border-color: #B1EF97;
  font-size: 20px;
  
}

.footer {
  position:absolute;
  bottom:0;
  width:100%;
  height:60px;   /* Height of the footer */
  background:rgb(244, 244, 244);
  color: rgb(169, 169, 169);
}


.homecontainer{
  align: center;
  padding: 100px;
  display: flex;
}

.herotext{
  margin-right: 70px;
}

.hotalienimage{
  max-width: 30%;
  height: auto;
  margin: -80px;
  overflow: hidden;

}

